<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Auction House</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

    <caption>Online Auction House</caption>
    <ul th:action="@{/}" th:method="get">
        <li th:each="item : ${items}" th:object="${item}">
            <span><a th:href="@{/item/{id} (id = ${item.id})}" th:text="*{name}"></a></span>
        </li>
    </ul>
</body>
</html>